.banner {
    background-image: url(../../assets/bg.png);
    padding-top: 100px;
    padding-bottom: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.banner p {
    margin-bottom: 50px;
    max-width: 315px;
}

.btn {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #ffffff ;
    border-radius: 20px;
    padding: 10px 15px;
}

.title {
    font-size: 48px;
    font-weight: 700;
}