.banner {
    background-image: url(../../assets/bg.png);
    padding-top: 159px;
    padding-bottom: 204px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

.banner p {
    margin-bottom: 50px;
    max-width: 315px;
    line-height: 1.5;

}

.btn {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border: 2px solid #ffffff ;
    border-radius: 20px;
    padding: 10px 45px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #ffffff;
    color: #333333;
}

.title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}